/* all styles */
@font-face {
  font-family: 'custom';
  src: url('font/Recoleta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'custom', serif;
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  margin: 0.2rem;
}

.font-big {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 0.6rem;
}

.font-small {
  font-size: 3rem;
}

.card {
  padding: 20% 15%;
  color: rgb(241, 239, 233);
  max-width: 100%;
}

#names {
  background-color: rgb(18, 51, 74);
  text-align: left;
}

#details {
  background-color: rgb(222, 159, 122);
}

#rsvp {
  background-color: #7d6f3e;
}